<mat-toolbar color="primary">
  <span>Online Test App</span>
</mat-toolbar>
<div class="container my-3">
  <form [formGroup]="questionForm">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Total Time</mat-label>
          <input matInput formControlName="time">
          <span matSuffix>minutes</span>
        </mat-form-field>
      </div>
    </div>
    <div class="question-create" class="my-3" formArrayName="questions">
      <div *ngFor="let q of Q.controls;let i = index">
        <div [formGroup]="q">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="standard">
                <mat-label>Question {{i+1}}</mat-label>
                <input matInput formControlName="questionText" placeholder="Type your question here">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <label class="form-label mb-2">Question Type</label><br>
              <mat-radio-group
                  formControlName="questionType">
                  <mat-radio-button [value]="mcq">MCQ</mat-radio-button>
                  <mat-radio-button [value]="non-mcq" class="ml-3">Non-MCQ</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Marks</mat-label>
                <input formControlName="marks" matInput type="number">
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="q.get('questionType').value == 'mcq' " >
            <div *ngFor="let ops of q.get('options')['controls']; let opi = index" formArrayName="options">
              <div class="" [formGroup]="ops">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Option {{opi+1}}</mat-label>
                    <input matInput type="text" formControlName="optionText">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col">
              <button mat-flat-button color="accent" (click)="onAddOption(q.get('options'))">Add Option</button>
              <button mat-flat-button color="warn" (click)="onRemoveOption(q.get('options'))">Remove Option</button>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Correct Option</mat-label>
                <input matInput type="number" formControlName="correctOption">
              </mat-form-field>
            </div>
          </div>
      </div>
    </div>
  </div>
  </form>
  <button mat-flat-button color="accent" (click)="onAddQuestion()">Add</button>
  <button mat-flat-button color="warn" (click)="onRemoveQuestion()">Remove</button>
  <button mat-flat-button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
</div>